include _mixins.pug

doctype html
html(lang="pl")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    block title

    //- Google Fonts
    +gFont('Mulish', '300;400;500;600;700;800')

    //- Scripts
    script(src="../js/bootstrap.js" type="module")
    block additional_scripts

    //- Styles
    link(rel="stylesheet" href="../scss/bootstrap.scss")
    link(rel="stylesheet" href="../scss/custom-styles.scss")
    block additional_styles

    //- Favicons
    //- <link rel="icon" type="image/png" href="/images/favicon.png?width=16" sizes="16x16" />
    //- <link rel="icon" type="image/png" href="/images/favicon.png?width=32" sizes="32x32" />
    //- <link rel="icon" type="image/png" href="/images/favicon.png?width=96" sizes="96x96" />

  body 
    include _nav.pug
    main
      block content
    include _footer.pug

