mixin svg-goto_light()
  svg(width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <path d="M1.25205 0L16.9999 0V16H13.8503V5.1545L3.46934 15.7317L0.89209 13.2793L11.5232 3.2L1.25205 3.2L1.25205 0Z" fill="white"/>
          