mixin svg-goto()
  svg(width="34" height="33" viewBox="0 0 34 33" fill="none" xmlns="http://www.w3.org/2000/svg")&attributes(attributes)
    <path d="M11.2296 10.5H23.0405V22.5H20.6783V14.3659L12.8925 22.2988L10.9596 20.4595L18.933 12.9H11.2296V10.5Z" fill="#4E23D5"/><rect x="1.95959" y="1.5" width="30.0809" height="30" rx="4" stroke="#4E23D5" stroke-width="2"/>
          