section.banner
    div.d-col.flex-center.py-3.label
        h1 POZNAJ SOKOŁA
        span.container.d-col.col-lg-8.text-center Ponad 100-letni budynek „Sokoła” ponownie odzyskał swój blask i ma szansę na nowo stać się centrum życia artystycznego Rozwadowa.
        div.mt-3
            a(href="/") Aktualności
            span.mx-2 |
            a(href="/") Zajęcia stałe                
    div.d-none.d-md-flex
        include ../components/_mdksocial