div.d-row.p-4.pt-0.card.event-single
    div.d-col
        div.d-row.mb-4
            div.d-col.justify-content-end.text-center.bubble.py-3.p-1
                h3 24
                span.c-fs-small Października
                div.triangle
            div.p-3
                span.c-fs-xs Temat wydarzenia:
                h3 "Freshman Squad" - koncert w "Sokole"
        span.c-fs-small Zajęcia obejmować będą grę na instrumentach, śpiew, tworzenie i aktywne słuchanie muzyki poprzez ćwiczenia grafomotoryczne.
        span.mt-3: a(href="/") Zobacz szczegóły...