section.d-col.flex-md-row.tableItem
    div.d-col.flex-sm-row.col-md-6
        div.d-col.col-sm-8.col-md-9
            div.d-flex.d-md-none.flex-center.py-1.c-fs-xs.header Tytuł
            div.d-flex.align-items-center.m-2.name
                //- img(src="../svg/notes.svg" width="40" height="40")
                img(src="../svg/masks.svg" width="40" height="40")
                //- img(src="../svg/sokol_icon.svg" width="40" height="40")
                //- img(src="../svg/dance.svg" width="40" height="40")
                div.d-col.ps-2
                    h3.c-fs-md Koncert
                    span.c-fs-sm Dla młodzieży, Dla dorosłych, Dla dzieci
        div.d-col.col-sm-4.col-md-3.date
            div.d-flex.d-md-none.flex-center.py-1.c-fs-xs.header Data
            div.d-flex.flex-center.m-2
                div.d-col.flex-center
                    h4 14.05
                    span.c-fs-sm 11:00
    div.d-col.col-md-6.flex-md-row
        div.d-flex.d-md-none.flex-center.py-1.c-fs-xs.header Opis
        div.d-col.col-md-10.flex-center.c-fs-sm.desc (Ewentualnie inny opis)
        div.d-none.d-md-flex.col-md-2.flex-center
            a(href="/"): +svg-goto()