section.container.px-3.tiles
    div.d-col.flex-lg-row.justify-content-between
        div.d-col.flex-center.col-lg-2.p-3.bubble
            h1.mb-2 CZEŚĆ!
            span Szukasz rozrywki?
            div.triangle
        div.d-col.flex-md-row.col-lg-9.tiles
            div.d-row.flex-center.p-3.tile
                +svg-kids
                h1.ms-2 Dla dzieci
            div.d-row.flex-center.p-3.tile
                +svg-teens
                h1.ms-2 Dla młodzieży
            div.d-row.flex-center.p-3.tile
                +svg-adults
                h1.ms-2 Dla dorosłych