section.contact.mb-4
    div.container.my-2
        img.sokol(src="../svg/sokol.svg" alt="Sokoł building")
    div.container.p-3
        h1.mb-3 Sokół MDK to filia Domu Kultury we Stalowej Woli, działający w Rozwadowie.
        div.d-col.flex-md-row.flex-center
            div.d-flex.col-12.col-sm-8.col-md-5.col-lg-4.col-xxl-3.align-items-center.m-2.p-2.card
                img(src="../svg/email.svg" alt="Email icon")
                span.ms-2: a(href="mailto:sokol@mdkstalowawola.pl") sokol@mdkstalowawola.pl
            div.d-flex.col-12.col-sm-8.col-md-5.col-lg-4.col-xxl-3.align-items-center.m-2.p-2.card
                img(src="../svg/phone.svg" alt="Mail icon")
                div.d-col
                    span.phone.ms-2: a(href="0048156000285") tel. 15 600 02 85
                    span.desc.ms-2.c-fs-sm Poniedziałek - piątek: 8:00-16:00