section.eventReservation
    div.d-col.flex-sm-row.align-items-center.justify-content-between.p-3.card
        div.d-row.flex-sm-column.align-items-center.justify-content-start
            span.title Miejsc pozostało:
            h2.ms-1.amount 100
        div.my-auto.py-2
            button.flex-center.btn.btn-primary.py-2.px-4
                span.me-3 ZAREZERWUJ
                +svg-goto_light