section.eventLabel
    div.d-col.p-3.pt-0.mb-3.card
        div.d-col
            div.d-row.align-items-start.py-3.bottom-border
                img(src="../svg/clock.svg" width="25" height="25" alt="Clock icon")
                div.d-col.ms-2
                    span.mb-1.title Wstęp i bilet:
                    span.info 01.04.2022 - 30.06.2022
                    span.desc piątki od godz. 10.00 do 10.45
            div.d-row.align-items-start.py-3.bottom-border
                img(src="../svg/pin.svg" width="30" height="30" alt="Location icon")
                div.d-col.ms-2
                    span.mb-1.title Miejsce:
                    span.info Rozwadowski Dom Kultury „Sokół”
                    span.desc ul. Rozwadowska 21
            div.d-row.align-items-start.py-3.bottom-border
                img(src="../svg/family.svg" width="30" height="30" alt="Family icon")
                div.d-col.ms-2
                    span.mb-1.title Dla kogo:
                    span.info 5 - 7 lat
            div.d-row.align-items-start.py-3.bottom-border
                img(src="../svg/disabled.svg" width="40" height="40" alt="Disability icon")
                div.d-col.ms-2
                    span.mb-1.title Accessibility:
                    span.info -
            div.d-row.align-items-start.pt-3
                img(src="../svg/tickets.svg" width="35" height="35" alt="Tickets icon")
                div.d-col.ms-2
                    span.title.mb-1 Wstęp i bilet:
                    span.info bezpłatne