section.event.d-row.p-3.pb-5
    div.container.d-col.flex-md-row
        div.p-4
            header.pb-3
                span Temat wydarzenia:
                h2 Zajęcia umuzykalniające
                div.flex-center.mt-2.py-2.px-3.card
                    +svg-kids(width="20" height="20")
                    span.ms-2 Dla dzieci
            div.col-lg-10.divider
            p.pt-3 Rozwadowski Dom Kultury „Sokół” zaprasza na zajęcia umuzykalniające dla dzieci w wieku 5 – 7 lat.
            p.pt-3 Zajęcia obejmować będą grę na instrumentach, śpiew, tworzenie i aktywne słuchanie muzyki poprzez ćwiczenia grafomotoryczne. Rozwijają wyobraźnię, kształtują logiczne myślenie, procesy twórcze oraz ćwiczą pamięć.
        div.col-md-6.col-lg-5
            include _eventLabel
            include _eventReservation
