div.d-col.card.flex-md-row.mb-4
    iframe.col-xxl-5(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.0406531618487!2d22.046986099999998!3d50.5891977!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4722d2d3813935bd%3A0x7c217099c1f3e7a4!2sRozwadowska%2021%2C%2037-450%20Stalowa%20Wola!5e0!3m2!1spl!2spl!4v1655886568021!5m2!1spl!2spl" allowfullscreen loading="lazy" referrerpolicy="no-referrer-when-downgrade")
    div.d-row.align-items-start.p-3
        img.pt-3(src="../svg/sokol_icon.svg" alt="Sokol icon")
        div.ms-2
            span.c-fs-small ul. Rozwadowska 21
            h2.my-1 Rozwiń skrzydła z „Sokołem”
            span.d-flex.col-md-8.c-fs-small Ponad 100-letni budynek „Sokoła” ponownie odzyskał swój blask i ma szansę na nowo stać się centrum życia artystycznego Rozwadowa. 