footer.magico
    div.container.d-none.d-sm-flex.mb-3.footer-divider
    div.container.d-col.flex-sm-row-reverse.justify-content-between
        div.container.d-row.align-items-center.socials
            div.icons
                span.mx-3: +svg-pinterest
                span.mx-3: +svg-twitter
                span.mx-3: a(href="https://pl-pl.facebook.com/AgencjaMagico/" target="_blank"): +svg-facebook_dark
            div.d-row.align-items-center
                span.flex-center.mx-3: +svg-globe
                select.form-select.form-select(aria-label=".form-select-sm")
                    option(value="pl") Polski
                    option(value="en") English
                    option(value="de") Deutsch
        div.container.d-sm-none.my-3.footer-divider
        div.magico.col-sm-6
            span © By Magico. All rights reserved