section.mdksocial
    div.d-col.m-3
        a.icon.m-1(href="https://www.mdkstalowawola.pl/" target="_blank"): +svg-mdk
        a.icon.m-1(href="https://www.youtube.com/c/MDKStalowaWolaofficial" target="_blank"): +svg-youtube
        a.icon.m-1(href="https://pl-pl.facebook.com/mdkstalowawola/" target="_blank"): +svg-facebook