section.news.p-3
    div.container.mt-1.mb-4.p-3.c-fs-sm.card
        header.pb-3
            span Aktualność:
            h2 Zajęcia umuzykalniające
        p.pt-3 Rozwadowski Dom Kultury „Sokół” zaprasza na zajęcia umuzykalniające dla dzieci w wieku 5 – 7 lat.
        p.pt-3 Zajęcia obejmować będą grę na instrumentach, śpiew, tworzenie i aktywne słuchanie muzyki poprzez ćwiczenia grafomotoryczne. Rozwijają wyobraźnię, kształtują logiczne myślenie, procesy twórcze oraz ćwiczą pamięć.